<footer class="mt-auto" data-aos="fade-up">
    <div class="f-info">
        <div class="upper">
            <!-- Social Links and Global Icon -->
            <a href="#" class="Global"><i class="fas fa-globe"></i>&nbsp;&nbsp; English (IN)</a>
            <div class="f-info-socials">
                <a href="#"><i class="fab fa-facebook"></i></a>
                <a href="#"><i class="fa-brands fa-x-twitter"></i></a>
                <a href="#"><i class="fab fa-instagram"></i></a>
            </div>
        </div>
        
        <div class="msg">
            <!-- Copyright Message -->
            <div class="f-info-copyright">
                <p>&copy; <%= new Date().getFullYear() %> Wanderlust Private Limited.</p>
            </div>
            <!-- Footer Links -->
            <div class="f-info-links">
                <a href="#">Privacy</a> &middot;
                <a href="#">Terms</a> &middot;
                <a href="#">Sitemap</a> &middot;
                <a href="#">Company details</a>
            </div>
        </div>
    </div>
</footer>