<% layout("./layouts/boilerplate.ejs") %>
<div class="container" style="height: 75vh;">
    <h1>Welcome to WanderLust</h1>
    <br>
    <h5>Welcome to our website! &nbsp; &nbsp;We are glad to have you here. &nbsp; &nbsp;Explore our features and enjoy your stay.</h5>
    <div class="auth mt-4 pt-5">
        <h5>Already have an account?  &nbsp; &nbsp; &nbsp; Sign in to access your account.</h5>
        <button class="btn bg-primary-subtle text-primary-emphasis border border-primary-subtle rounded-3 btn-lg mb-4 mt-4">Sign In</button>
        <h5>New to WanderLust?&nbsp; &nbsp; &nbsp;  Create an account to start your journey.</h5>
        <button class="btn bg-primary-subtle text-primary-emphasis border border-primary-subtle rounded-3 btn-lg mb-4 mt-4">Sign Up</button>
    </div>
</div>