@media (max-width: 991px) {
  .f-info {
    flex-direction: column;
    align-items: center;
  }

  .upper {
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
  }

  .msg {
    flex-direction: row;
    width: 100%;
    font-size: 14px;
  }

  .swiper-slide img {
    height: 220px;
  }
}

@media (max-width: 600px) {
  .show-img {
    height: 150px !important;
  }

  .container {
    padding: 1rem !important;
  }

  .swiper-slide img {
    height: 140px;
    border-radius: 8px;
  }
}

/* home page */
.swiper {
  pointer-events: none;
  user-select: none;
  width: 60%;
}

.swiper-slide {
  pointer-events: none;
}

.swiper-slide img {
  width: 100%;
  height: 350px;
  object-fit: fill;
  border-radius: 12px;
}

.cursor {
  display: inline-block;
  width: 1px;
  animation: blink 0.8s infinite;
  margin-left: 2px;
}

@keyframes blink {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}