@media (max-width: 991px) {
  .f-info {
    flex-direction: column;
    align-items: center;
  }

  .upper {
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
  }

  .msg {
    flex-direction: row;
    width: 100%;
    font-size: 14px;
  }

  .swiper-slide img {
    height: 220px;
  }
}

@media (max-width: 600px) {

  .nav-links {
    flex-direction: column !important;
    width: 100% !important;
  }

  .nav-item {
    padding-right: 0 !important;
    width: 100%;
    margin-bottom: 0.5rem;
  }

  .dropdown-menu {
    width: 100%;
  }

  .nav-item.dropdown {
    width: 100%;
    margin: 1rem 0 !important;
  }

  .navbar-collapse {
    background-color: #ffffff;
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  }

  .d-flex.align-items-center.link-dark {
    justify-content: center;
  }

  .f-info {
    flex-direction: column;
    align-items: flex-start;
  }

  .upper {
    flex-direction: column;
    gap: 5px;
    width: 100%;
  }

  .msg {
    flex-direction: column;
    gap: 5px;
    width: 100%;
  }

  swiper-slide img {
    height: 140px;
    border-radius: 8px;
  }
}

/* home page */
.swiper {
  pointer-events: none;
  user-select: none;
  width: 60%;
}

.swiper-slide {
  pointer-events: none;
}

.swiper-slide img {
  width: 100%;
  height: 350px;
  object-fit: fill;
  border-radius: 12px;
}
.cursor {
  display: inline-block;
  width: 1px;
  animation: blink 0.8s infinite;
  margin-left: 2px;
}

@keyframes blink {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}
