<% layout("/layouts/boilerplate.ejs") %>
<div class="container mt-5">
    <h1 class="mb-4">My <span class="samarkan-font text-danger-emphasis" id="Nivaas">Nivaas</span></h1>
    <% if (listings && listings.length > 0) { %>
        <div class="row">
            <% listings.forEach(function(listing) { %>
                <% if (currentUser && listing.owner && listing.owner.equals(currentUser._id)) { %>
                    <div class="col-md-4 mb-4">
                        <a href="/listing/<%= listing._id %>/show" class="text-decoration-none">
                        <div class="card col" data-aos="fade-up">
                            <img src="<%= listing.image %>" class="card-img-top" alt="nivaas_image">
                            <div class="card-img-overlay"></div>
                            <div class="card-body">
                                <p class="card-heading"><b><%= listing.title %></b></p>
                                <p class="card-text">&#8377;<%= listing.price.toLocaleString("en-IN") %>/Night</p>
                            </div>
                        </div>
                    </div>
                <% } %>
            <% }); %>
        </div>
    <% } else { %>
        <div class="alert alert-danger">You have not posted any listings yet.</div>
    <% } %>
</div>